<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      THNDR Example
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">THNDR Example</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="game-button-container" *ngIf="gamesList.length > 0">
      <ion-button
        [id]="game.id"
        (click)="onGameClick(game.id)"
        *ngFor="let game of gamesList">{{ game.label }}</ion-button>
    </div>
  </div>
</ion-content>
